<% layout("/layouts/boilerplate") %>
<H3>Edit the Listing:</H3>
<form method="post" action="/listings/<%=listing._id%>?_method=PUT">
    <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]" placeholder="enter title" class="form-control" value="<%= listing.title %>">
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" placeholder="enter description" class="form-control"><%=listing.description%></textarea>
</div>
<div class="mb-3" >
    <label for="price" class="form-label">Price</label>
    <input type="number" name="listing[price]" placeholder="enter Price" class="form-control" value="<%=listing.price%>">
</div>
<div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="text" name="listing[image]" placeholder="enter Image link/URL" class="form-control" value="<%=listing.image%>">
</div>
<div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" name="listing[location]" placeholder="enter location" class="form-control" value="<%=listing.location%>">
</div>
<div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input type="text" name="listing[country]" placeholder="enter country" class="form-control" value="<%=listing.country%>">
</div>
<button class="btn btn-dark edit-btn">Add</button>


    <!-- <input type="text" name="listing[title]" value="<%= listing.title %>">
    <br><br>
    <textarea name="listing[description]" ><%=listing.description%></textarea>
    <br><br>
    <input type="number" name="listing[price]" value="<%=listing.price%>">
    <br><br>
    <input type="text" name="listing[image]" value="<%=listing.image%>">
    <br><br>
    <input type="text" name="listing[location]" value="<%=listing.location%>">
    <br><br>
    <input type="text" name="listing[country]" value="<%=listing.country%>">
    <br><br>
    <button>Add</button> -->
</form>