<% layout("/layouts/boilerplate") %>
<div class=" mt-3 col-8 offset-2">
    <h3>Listings Details:-</h3>
</div>
<div class="card col-8 offset-2" >
  <img src="<%=listing.image%>" class="card-img-top " alt="listing-image">
  <div class="card-body">
    <p class="card-text">
        <b><%=listing.title%></b><br>
        <%=listing.description%> <br>
        &#8377;<%=listing.price.toLocaleString("en-In")%> <br>
        <%=listing.location%> <br>
        <%=listing.country%>
    </p>
  </div>
</div>
<div class="offset-2 btns">
    <form method="get" action="/listings/<%=listing._id%>/edit">
    <button class="btn btn-dark edit-btn">Edit</button>
</form>
<form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
    <button class="btn btn-dark offset-5 dlt-tn">Delete</button>
</form>
</div>


